<a href="/">首页</a>
<a href="/about/">关于</a>
<a href="/blog/">博客</a>
<a href="/notes/">笔记</a>

<style>
    a {
        color: rgb(247, 250, 253);
        text-decoration: none;
        margin-right: 2em;
    }
    a:hover {
        text-decoration: underline;
        background-color: rgb(135, 222, 189);
    }
</style>
